h1{
    background-color: purple;
    padding: 20px;
    margin: 5px;
    text-align: center;
    color: white
}
article{
    background-color: teal;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 10px;
    width: 500px;
    height: 500px;
}
h2{
    text-align: center;
}
p{
    text-align: center;
}
section{
    display: flex;
}